html, body {
    margin:0;
    padding:0;
}

/* PATIENT CARD */
#header_section{
    height: 50px;
    background-color: grey;
}
#main_section{
    background-color: #6f42c1;
    color: royalblue;
}
#footer_section{
    height: 200px;
    background-color: #0b2e13;
}
#sidebar_section{
    width: 270px;
    background-color: #37474f;
    float: left;
    height: calc(100vh - 50px);
}
#content_section{
    width: 100%;
    min-height: calc(100vh - 50px); /*Учитывая размер хидера, должен отнять*/
    background-color: white;
}
.module-wrapper{
    background-color: #eeeeee;
    border: solid 1px;
    border-color: #c1c1c1;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
}
#patient-card-menu{
    height: 50px;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    padding: 6px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #dce1e5;
}
#patient-card-body{
    width: 100%;
    padding: 10px;
}
.patient-card-information-section{
    border: solid 1px;
    background-color: white;
    border-radius: 5px;
    border-color: #dce1e5;
}
.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.patient-card-information-section-header{
    background-color: #37474F;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
.patient-card-information-section-body{
    padding: 5px;
    color: #37474f;
    font-weight: bold;
}
.patient-card-status{
    border: solid 1px;
    padding: 3px;
    text-align: center;
    cursor: not-allowed;
}
.blocked-status{
    background: #e9ecef;
}
.editable-status{
    background: white;
    cursor: pointer;
}
.red-asterisk{
    color: red;
}
#patient-alive-image{
    font-size: 40px;
}
#patient-attached-image{
    font-size: 40px;
}
.editable-status:hover{
    background: #eeeeee;
}
.editable-status:hover i{
    color: #37474F;
}
.table-mine{
    border-collapse: separate;
    border-spacing: 1px;
    margin-bottom: 5px;
    width: 100%;
}
.table-mine thead{
    background-color: #37474F;
    color: white;
    font-size: 12px;
}
.table-mine > thead > tr > th,
.table-mine > tbody > tr > th,
.table-mine > tfoot > tr > th,
.table-mine > thead > tr > td,
.table-mine > tbody > tr > td,
.table-mine > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    text-align: center;
}
.table-mine tbody{
    color: #37474F;
    background-color: white;
    font-size: 12px;
}
#addPatientCardModal{
    font-weight: bold;
    color: #37474f;
}
.search-result-container{
    width: 100%;
    border: solid 1px;
    border-color: #dce1e5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-result-area{
    width: 100%;
}
.patient-card-search-result-line{
    width: 100%;
    padding: 7px;

}
.patient-card-search-result-line:hover{
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.pagination-center{
    justify-content: center;
}
.incorrect-input-group{
    background-color: #ff0000; !important;
    border: 1px solid #ff0000; !important;
    color: white; !important;
}
.incorrect-input-border{
    border: 1px solid #ff0000; !important;
}
.incorrect-input-message{
    color: #ff0000;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: -10px;
}

/* MENU */
.fa-for-menu {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}
.main-menu {
    top:0;
    bottom:0;
    min-height:100px;
    left:0;
    width:270px;
    overflow:hidden;
    opacity:1;
    font-weight: bold;
    border-bottom-right-radius: 10px;
    border-bottom: solid 1px;
    border-color: #bcb8c3;
}
.main-menu>ul {
    margin:7px 0;
}
.main-menu li {
    position:relative;
    display:block;
    width:270px;
}
.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    /*color: #e2ddea;*/
    font-size: 16px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .14s linear;
    transition:all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top:1px solid #1a2129;
    text-shadow: 1px 1px 1px  #000;
}
.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:55px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}
.main-menu .nav-text  {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:215px;
    font-family: 'Titillium Web', sans-serif;
}
.main-menu .share {
}
.main-menu .fb-like {
    left: 180px;
    position:absolute;
    top: 15px;
}
.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}
.no-touch .scrollable.hover {
    overflow-y:hidden;
}
.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}
a:hover,a:focus {
    text-decoration:none;
    border-left:0px solid #F7F7F7;
}
nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}
nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
    text-transform: uppercase;
}
/* Darker element side menu Start*/
.darkerli
{
    background-color:#ededed;
    text-transform:capitalize;
}
.darkerlishadow
{
    background-color:#ededed;
    text-transform:capitalize;
    -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}
.darkerlishadowdown
{
    background-color:#ededed;
    text-transform:capitalize;
    -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}
/* Darker element side menu End*/
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color: #37474f;
    text-shadow: 0px 0px 0px;
}
.area {
    float: left;
    background: #263238;
    width: 100%;
}
.menu-link{
    color: #e2ddea;
}
.menu-item.selected{
    background-color: #37474f !important;
}
.menu-item.selected a{
    color: #e8e857 !important;
}
#card-auxiliary-buttons{
    padding: 2px;
    text-align: right;
    height: 37px;
    background: #eeeeee;
    border-radius: 5px;
    border: solid 1px;
    border-color: #dce1e5;
}